# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\share\tools\tools_core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
